nifi_flows/NiFi-English-In-Telegram.json
{"flowContents":{"identifier":"43243eda-8803-3045-ae7c-0b003684418f","instanceIdentifier":"a0c32ef2-019c-1000-eb52-e13358b5d244","name":"English-In-Telegram","comments":"","position":{"x":384.0,"y":536.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1a1b2557-bee7-34c4-8cef-9c227fcef897","instanceIdentifier":"a83a01b2-019c-1000-a07c-d97e07a32318","name":"AttributesToCSV","comments":"","position":{"x":112.0,"y":2424.0},"type":"org.apache.nifi.processors.standard.AttributesToCSV","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Include Schema":"false","Attributes Regular Expression":null,"Destination":"flowfile-content","Null Value":"false","Attribute List":"news_link","Include Core Attributes":"true"},"propertyDescriptors":{"Include Schema":{"name":"Include Schema","displayName":"Include Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes Regular Expression":{"name":"Attributes Regular Expression","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute List":{"name":"Attribute List","displayName":"Attribute List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"b6b0e6d1-0905-3305-a40f-f213885c6193","instanceIdentifier":"a307fcee-019c-1000-e911-8cf6644463a2","name":"EvaluateJsonPath","comments":"","position":{"x":264.0,"y":264.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"summary":"$.summary","Destination":"flowfile-attribute","image_link":"$.image_link","Max String Length":"20 MB","Return Type":"auto-detect","news_link":"$.news_link","Null Value Representation":"empty string","title":"$.title","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"summary":{"name":"summary","displayName":"summary","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"image_link":{"name":"image_link","displayName":"image_link","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"news_link":{"name":"news_link","displayName":"news_link","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"569da90e-80b7-3c1a-9ab2-b9fa3006aa33","instanceIdentifier":"a8344064-019c-1000-6fec-1e690c1b673e","name":"RouteOnAttribute","comments":"","position":{"x":-1160.0,"y":2472.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"Route to Property name"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"997ca143-c0be-3a4d-aaae-2e3fd9c786ca","instanceIdentifier":"ae5ddbe4-019c-1000-8777-f893d2996e00","name":"ControlRate","comments":"","position":{"x":-440.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"180 min","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"f38675e6-e85c-374e-8bf7-448a5c9956d8","instanceIdentifier":"a0c8aef7-019c-1000-7486-6fb3ae476e72","name":"SplitJson","comments":"","position":{"x":1912.0,"y":240.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.Arts.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"747478de-83c9-319e-9914-32020dc2f61b","instanceIdentifier":"a0c37773-019c-1000-85d4-718ca9864137","name":"GenerateFlowFile","comments":"","position":{"x":-1104.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"start","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 0 8 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"1b31fc57-9a1b-38cd-b6af-2782893ccc8f","instanceIdentifier":"a832f1c2-019c-1000-c416-d835473c84f9","name":"FetchDistributedMapCache","comments":"","position":{"x":-400.0,"y":2640.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Cache Entry Identifier":"news_link","Put Cache Value In Attribute":"cache_news_link","Distributed Cache Service":"c073540f-d820-3047-bc0b-c22b56146efa","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not-found","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"823b9cbb-8238-3935-a1de-6ae91d9ec63a","instanceIdentifier":"a0c3a60f-019c-1000-1e62-b0efdf4e7c4d","name":"UpdateAttribute","comments":"","position":{"x":-1104.0,"y":32.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"method":"GET","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"url":"https://bbc-news-api.vercel.app/news?lang=english"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"method":{"name":"method","displayName":"method","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"5d8287d4-96e7-344b-9b13-6f6fb0cae169","instanceIdentifier":"a3066cd9-019c-1000-68bf-a4a884bcc21e","name":"RouteOnAttribute","comments":"","position":{"x":-1104.0,"y":264.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"hasPicture":"${image_link:contains('http')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"hasPicture":{"name":"hasPicture","displayName":"hasPicture","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"ec6fab94-f603-31a8-90a8-2a1c65d90287","instanceIdentifier":"a0c522bd-019c-1000-2419-511cd31d6925","name":"InvokeHTTP","comments":"","position":{"x":-440.0,"y":32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"${method}","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"63e16fc6-cc88-3527-b91d-1ca6aa4bcb8c","instanceIdentifier":"a0cdae12-019c-1000-18b7-6dc41b2ea66f","name":"PublishKafka","comments":"","position":{"x":264.0,"y":528.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.2"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"bbc-news-api","Kafka Key":null,"partition":null,"Kafka Connection Service":"00244d49-71ab-3cda-bce6-f6c342c5405e","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"f4a57f3f-9a4c-39dc-b967-148e222e1f7c","instanceIdentifier":"a0c5d342-019c-1000-6fa2-03f39790db3e","name":"SplitJson","comments":"","position":{"x":264.0,"y":32.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.Culture.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"57d8d3aa-c45a-37da-b09e-95894d15d14a","instanceIdentifier":"a827a1f7-019c-1000-e04b-2632852d7e4b","name":"PutDistributedMapCache","comments":"","position":{"x":-488.0,"y":2448.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Cache Entry Identifier":"news_link","Max Cache Size":"1 MB","Distributed Cache Service":"c073540f-d820-3047-bc0b-c22b56146efa","Cache Update Strategy":"replace"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Cache Size":{"name":"Max Cache Size","displayName":"Max Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Update Strategy":{"name":"Cache Update Strategy","displayName":"Cache Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"eb702305-67cf-3ec0-8593-6564ab558d5c","instanceIdentifier":"a4c8e72e-019c-1000-fc2d-19c8cfc29eb5","name":"RouteOnAttribute","comments":"","position":{"x":-440.0,"y":264.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"Route to Property name","hasSummary":"${summary:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hasSummary":{"name":"hasSummary","displayName":"hasSummary","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"f279868a-e1cc-303e-a329-1cdf33b142e6","instanceIdentifier":"a479c8fc-019c-1000-89ab-7ff518454485","name":"UpdateAttribute","comments":"","position":{"x":-1104.0,"y":512.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"evalTime":"${now():format('yyyy-MM-dd hh:mm:ss')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"evalTime":{"name":"evalTime","displayName":"evalTime","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0a4ae5b6-9e47-3bbe-8917-6a1fab9bf322","instanceIdentifier":"a3087e8d-019c-1000-11ca-60df81921485","name":"","source":{"id":"b6b0e6d1-0905-3305-a40f-f213885c6193","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a307fcee-019c-1000-e911-8cf6644463a2"},"destination":{"id":"eb702305-67cf-3ec0-8593-6564ab558d5c","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4c8e72e-019c-1000-fc2d-19c8cfc29eb5"},"labelIndex":0,"zIndex":12,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"cd9a5008-855c-3e62-956f-c461fb8f3db0","instanceIdentifier":"a0c88396-019c-1000-36a4-504c34dd39a4","name":"","source":{"id":"f4a57f3f-9a4c-39dc-b967-148e222e1f7c","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"SplitJson","comments":"","instanceIdentifier":"a0c5d342-019c-1000-6fa2-03f39790db3e"},"destination":{"id":"b6b0e6d1-0905-3305-a40f-f213885c6193","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a307fcee-019c-1000-e911-8cf6644463a2"},"labelIndex":0,"zIndex":4,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"43ce847e-12b7-3b29-b1d3-c199cee6495d","instanceIdentifier":"a0c53544-019c-1000-4f5c-919cdd6d6690","name":"","source":{"id":"823b9cbb-8238-3935-a1de-6ae91d9ec63a","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"UpdateAttribute","comments":"","instanceIdentifier":"a0c3a60f-019c-1000-1e62-b0efdf4e7c4d"},"destination":{"id":"ec6fab94-f603-31a8-90a8-2a1c65d90287","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"InvokeHTTP","comments":"","instanceIdentifier":"a0c522bd-019c-1000-2419-511cd31d6925"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"daa96159-28ba-3376-9086-4e27503f3448","instanceIdentifier":"a83ab729-019c-1000-2b1d-7fc630f88965","name":"","source":{"id":"1a1b2557-bee7-34c4-8cef-9c227fcef897","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"AttributesToCSV","comments":"","instanceIdentifier":"a83a01b2-019c-1000-a07c-d97e07a32318"},"destination":{"id":"57d8d3aa-c45a-37da-b09e-95894d15d14a","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"a827a1f7-019c-1000-e04b-2632852d7e4b"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"ae6d687a-dd70-3937-9c59-c67b5f0aa3f9","instanceIdentifier":"a0c5e6e4-019c-1000-c22c-bfc544daacd7","name":"","source":{"id":"ec6fab94-f603-31a8-90a8-2a1c65d90287","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"InvokeHTTP","comments":"","instanceIdentifier":"a0c522bd-019c-1000-2419-511cd31d6925"},"destination":{"id":"f4a57f3f-9a4c-39dc-b967-148e222e1f7c","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"SplitJson","comments":"","instanceIdentifier":"a0c5d342-019c-1000-6fa2-03f39790db3e"},"labelIndex":0,"zIndex":3,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"36c1d15e-4490-32a4-b9da-a18542792223","instanceIdentifier":"a30986d7-019c-1000-ac00-9586fcc9233c","name":"","source":{"id":"5d8287d4-96e7-344b-9b13-6f6fb0cae169","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a3066cd9-019c-1000-68bf-a4a884bcc21e"},"destination":{"id":"f279868a-e1cc-303e-a329-1cdf33b142e6","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"UpdateAttribute","comments":"","instanceIdentifier":"a479c8fc-019c-1000-89ab-7ff518454485"},"labelIndex":0,"zIndex":13,"selectedRelationships":["hasPicture"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"18731a8a-cad8-3451-80d1-5cfbd768dd2c","instanceIdentifier":"a0c3b3e8-019c-1000-645a-af5bddfa7956","name":"","source":{"id":"747478de-83c9-319e-9914-32020dc2f61b","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"a0c37773-019c-1000-85d4-718ca9864137"},"destination":{"id":"823b9cbb-8238-3935-a1de-6ae91d9ec63a","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"UpdateAttribute","comments":"","instanceIdentifier":"a0c3a60f-019c-1000-1e62-b0efdf4e7c4d"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"cece2da5-db83-3fd0-9382-b2c28dd1f80e","instanceIdentifier":"a83504d1-019c-1000-2a76-fe68dc4bc08c","name":"","source":{"id":"1b31fc57-9a1b-38cd-b6af-2782893ccc8f","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"a832f1c2-019c-1000-c416-d835473c84f9"},"destination":{"id":"9161c839-9194-3e81-bb44-071dd8599654","type":"FUNNEL","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"Funnel","comments":"","instanceIdentifier":"a834e03f-019c-1000-32ca-33f5788116f1"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"98471bc1-3841-3e5d-8d22-2d6f1bf2dc77","instanceIdentifier":"a0c8cffd-019c-1000-1144-6e84e52b3036","name":"","source":{"id":"f38675e6-e85c-374e-8bf7-448a5c9956d8","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"SplitJson","comments":"","instanceIdentifier":"a0c8aef7-019c-1000-7486-6fb3ae476e72"},"destination":{"id":"41c31792-aa84-3988-894e-b3562f504598","type":"FUNNEL","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"Funnel","comments":"","instanceIdentifier":"a0d387d4-019c-1000-6777-3d8923fa76a1"},"labelIndex":0,"zIndex":6,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"e9a498a8-53d9-3a08-9098-ffd9b3d73cda","instanceIdentifier":"a479f193-019c-1000-4028-addf378140e5","name":"","source":{"id":"f279868a-e1cc-303e-a329-1cdf33b142e6","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"UpdateAttribute","comments":"","instanceIdentifier":"a479c8fc-019c-1000-89ab-7ff518454485"},"destination":{"id":"997ca143-c0be-3a4d-aaae-2e3fd9c786ca","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"ControlRate","comments":"","instanceIdentifier":"ae5ddbe4-019c-1000-8777-f893d2996e00"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"5b4b3144-4fd3-374b-8978-224adcd9601c","instanceIdentifier":"a8375c92-019c-1000-1975-c014a3329e04","name":"","source":{"id":"57d8d3aa-c45a-37da-b09e-95894d15d14a","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"a827a1f7-019c-1000-e04b-2632852d7e4b"},"destination":{"id":"569da90e-80b7-3c1a-9ab2-b9fa3006aa33","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a8344064-019c-1000-6fec-1e690c1b673e"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"eaceb7e9-cc2b-360a-9509-5bb24b835b63","instanceIdentifier":"a4cb5117-019c-1000-db6b-48e100abcf54","name":"","source":{"id":"eb702305-67cf-3ec0-8593-6564ab558d5c","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4c8e72e-019c-1000-fc2d-19c8cfc29eb5"},"destination":{"id":"5d8287d4-96e7-344b-9b13-6f6fb0cae169","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a3066cd9-019c-1000-68bf-a4a884bcc21e"},"labelIndex":0,"zIndex":15,"selectedRelationships":["hasSummary"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"9db4211d-2b42-36e7-b85b-5a11a9a50e4a","instanceIdentifier":"ae5f92bd-019c-1000-e1eb-73097fae5ab1","name":"","source":{"id":"997ca143-c0be-3a4d-aaae-2e3fd9c786ca","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"ControlRate","comments":"","instanceIdentifier":"ae5ddbe4-019c-1000-8777-f893d2996e00"},"destination":{"id":"63e16fc6-cc88-3527-b91d-1ca6aa4bcb8c","type":"PROCESSOR","groupId":"43243eda-8803-3045-ae7c-0b003684418f","name":"PublishKafka","comments":"","instanceIdentifier":"a0cdae12-019c-1000-18b7-6dc41b2ea66f"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"}],"labels":[],"funnels":[{"identifier":"41c31792-aa84-3988-894e-b3562f504598","instanceIdentifier":"a0d387d4-019c-1000-6777-3d8923fa76a1","position":{"x":1600.0,"y":280.0},"componentType":"FUNNEL","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"9161c839-9194-3e81-bb44-071dd8599654","instanceIdentifier":"a834e03f-019c-1000-32ca-33f5788116f1","position":{"x":176.0,"y":2544.0},"componentType":"FUNNEL","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"}],"controllerServices":[{"identifier":"c073540f-d820-3047-bc0b-c22b56146efa","instanceIdentifier":"a82832d7-019c-1000-3751-65c5d6ab3180","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.7.2"},"properties":{"SSL Context Service":null,"Server Port":"14557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"43243eda-8803-3045-ae7c-0b003684418f"},{"identifier":"00244d49-71ab-3cda-bce6-f6c342c5405e","instanceIdentifier":"a0cef6c6-019c-1000-1946-390fe5b80efb","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.7.2"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka-kraft:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a0c32ef2-019c-1000-eb52-e13358b5d244"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
